# Sets
- Unordered
- Mutable
- No Duplicate Elements

- **Doesn't allows indexing: TypeError**
- **Frozenset:** Immutable version of set.

# Common Operations

**i. Initialization / Creation**
- Elements inside curley braces {}.
- With iteratalbles: set([i1, i2])

In [1]:
s1 = {1, 2, 1, 1, 2, 2, 3, }
print(s1)

s2 = set([1, 2, 3, 4]) # with iteratables
print(s2)

{1, 2, 3}
{1, 2, 3, 4}

In [2]:
s3 = set("Hello")
print(s3) # unique elements in a string.

{'o', 'e', 'H', 'l'}

**Caveats**
- st = {} is recognized as a **dict**

In [3]:
s = {}
type(s)

dict

**ii. Adding an element**
- set.add(item)

In [4]:
s5 = set()

s5.add(1)
s5.add(2)
s5.add(3)

print(s5)

{1, 2, 3}

**ii. Removing an Element:**
- **set.remove(item)** gives an error if item doesnt exists.
- **myset.discard(item)** also removes an item but doesn't throws any exception. 
- **myset.clear()** clear/empties the set.
- **myset.pop()** returns arbitary item and removes it.

In [5]:
s5 = {1, 2, 3, 4, 5}

s5.remove(1)
print("After removing 1: ",s5)

s5.discard(100) # doesn't throws exeption, though 100 doesnt exists in s5.


poped = s5.pop()
print("Poped element is: ", poped)
print("After poping element", s5)


s5.clear() # empties the set
print("After clearing: ",s5)

After removing 1:  {2, 3, 4, 5}
Poped element is:  2
After poping element {3, 4, 5}
After clearing:  set()

**Iterating through item same as list item itern**
```python
for item in set:
    print(item)
```
**Checking item:**
```python
if <item> in s5:
    print("Exists")
```

**iii. Inplace update:**
- Updates to the existing set.
- ``set1.update(set1)``

In [6]:
s1 = {1,2}
s2 = {3,4}

s1.update(s2) #updated s1
print(s1)

{1, 2, 3, 4}

**iv. Union of Sets**
- Combines two sets.
- No duplicates.
- ``set1.union(set2)`` or ``s1 | s2``

In [7]:
s1 = {1, 2, 3}
s2 = {2, 3, 4, 5}

s_uni = s1.union(s2) # or s1 | s2
print("Union is: ",s_uni)

Union is:  {1, 2, 3, 4, 5}

**v. Intersection:**
- Gives a common element between two sets.
- ``set1.intersection(s2)`` or ``s1 & s2``

In [8]:
s1 = {1, 2, 3}
s2 = {2, 3, 4, 5}

s_int = s1.intersection(s2) # or s1 & s2
print("Intersection is: ",s_int)

Intersection is:  {2, 3}

**vi. Difference**
- Elements in a set, which doesnt exists on other set.
- ``set1.difference(set2)`` or ``set1-set2``

In [9]:
s1 = {1, 2, 3}
s2 = {2, 3, 4, 5}

s_diff = s1.difference(s2) # or s1-s2
print("Difference s1-s2 is: ",s_diff)
print("Difference s2-s1 is: ",(s2-s1))

Difference s1-s2 is:  {1}
Difference s2-s1 is:  {4, 5}

**vii. Inplace intersection, union and difference**
- ``set1.<intersection/difference/symmetric_difference>_update(set2)``

In [10]:
s1 = {1, 3, 4}
s2 = {4, 5, 6}

s1.intersection_update(s2) # inplace intersection update
print("Inplace intersection: ",s1)

s1 = {1, 3, 4}
s2 = {4, 5, 6}

s1.difference_update(s2) # inplace difference difference
print("Inplace differnce: ",s1)

s1 = {1, 3, 4}
s2 = {4, 5, 6}

s1.symmetric_difference_update(s2) # symmetric difference: elements not common in both the sets
print("Symmetric difference: s1-s2",s1)

Inplace intersection:  {4}
Inplace differnce:  {1, 3}
Symmetric difference: s1-s2 {1, 3, 5, 6}

**viii. Check if Superset**
- ``set1.issuperset(set2)``
- Returns true if all the elements of s2 are in s1.

In [11]:
s1 = {1, 2, 3, 4, 5}
s2 = {1, 4}

is_s1_superset_of_s2 = s1.issuperset(s2)
print("Set 1 is superset of s2:", is_s1_superset_of_s2)

Set 1 is superset of s2: True

**ix. Check if subset:**
- ``set1.issubset(s2)``
- Returns True if set1 contains some elements of s2.

In [12]:
s1 = {1, 3}
s2 = {1, 3, 4, 5}

s1_issubset_s2 = s1.issubset(s2)
print("S1 is subset of S2: ", s1_issubset_s2)

S1 is subset of S2:  True

**ix. Check if disjoint:**
- ``set1.isdisjoint(s2)``
- Returns True if no common elements between s1 and s2.

In [13]:
s1 = {1, 2}
s2 = {3, 4}

is_disjoint = s1.isdisjoint(s2)

print("S1 and S2 djsjoint: ", is_disjoint)

S1 and S2 djsjoint:  True

**Creating a copy:**
```python
s2 = s1.copy()
```

# Exceptions

**i. KeyError**
- Occurs when removing non existing element.

In [14]:
x = set([1, 3])

try:
    x.remove(5) # removing item, that doesnt exists
except Exception as e:
    print(e.__class__)

<class 'KeyError'>

**ii. TypeError:**
- Occurs when trying to add unhashable types to set.

In [15]:
x = set()

try:
    x.add([1,2,3]) # adding a list, which is unhashable, immutable
except Exception as e:
    print(e.__class__)

<class 'TypeError'>

# Frozen Set
- Immutable version of original set.

In [16]:
a = frozenset([1, 2, 3])
print(a)

frozenset({1, 2, 3})