# Lambda Functions
- Anonymous function
- Takes any number of arguments, have one expression

**Syntax:**
```python
lambda arg: expression
```

In [1]:
add10 = lambda x: x+10

add10(5)

15

In [2]:
multiply = lambda x,y: x*y

multiply(5, 10)

50

**Usage with inbuilt function**

In [3]:
points_2d = [(1,2), (2, 3), (3, 10)]

# points sorted by x index
points_sorted = sorted(points_2d, key=lambda x: x[0])
points_sorted

[(1, 2), (2, 3), (3, 10)]

# 1. Usage with map function:
- **``map(<func>, <iteratable>)``**: Takes every item of iteratable and passes it to func.
- **Return type:** Map Object. Result needs to be type casted into iteratable.

In [4]:
nums = [1, 2, 3, 4]

squared = map(lambda x: x*x, nums)

# returns a map object
squared

In [5]:
list(squared)

[1, 4, 9, 16]

**Map with multiple iteratables**

In [6]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]

prod = map(lambda x, y: x*y, a, b)

list(prod)

[5, 12, 21, 32]

**Above approach using operator**

In [7]:
import operator
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]

prod = map(operator.mul, a, b)

list(prod)

[5, 12, 21, 32]

# 2. Usage with Filter
- Extracts the elements from the iterable(list,tuples) for which function returns **True**.
- **Syntax:** ``filter(function, iterable)``
- **Return type:** Filter Object. Result needs to be type casted into iteratable.

In [8]:
x = [i for i in range(1, 11, 1)]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
even = filter(lambda i: i%2==0, x)

even

In [10]:
list(even)

[2, 4, 6, 8, 10]

**Usage with dictionary**

In [11]:
persons = [
    {'name': 'a', 'age': 20},
    {'name': 'b', 'age': 25},
    {'name': 'c', 'age': 30},
    {'name': 'd', 'age': 10},
]

persons_with_age_gt_20 = filter(lambda x: x['age'] > 20, persons)

list(persons_with_age_gt_20)

[{'name': 'b', 'age': 25}, {'name': 'c', 'age': 30}]

# 3. Usage with reduce
- Reduces an iteratable to the single value.
- **Syntax:** ``reduce(<func with two params>, <iteratable>)``
- Return type: ``<type>`` of item in iteratable.

In [12]:
from functools import reduce

i = [1, 2, 3, 4, 5]

sm = reduce(lambda x,y: x*y, i)

sm

120